/*.*
!.gitignore
!README.md

/admin/*
!/admin/

/admin/controller/*
!/admin/controller/
/admin/controller/extension/*
!/admin/controller/extension/
/admin/controller/extension/shipping/*
!/admin/controller/extension/shipping/
!/admin/controller/extension/shipping/xd_flat.php


/admin/language/*
!/admin/language/
/admin/language/en-gb/*
!/admin/language/en-gb/
/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/
/admin/language/en-gb/extension/shipping/*
!/admin/language/en-gb/extension/shipping/
!/admin/language/en-gb/extension/shipping/xd_flat.php

/admin/language/ru-ru/*
!/admin/language/ru-ru/
/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/shipping/*
!/admin/language/ru-ru/extension/shipping/
!/admin/language/ru-ru/extension/shipping/xd_flat.php


/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
/admin/view/javascript/jquery/*
!/admin/view/javascript/jquery/

/admin/view/template/*
!/admin/view/template/
/admin/view/template/extension/*
!/admin/view/template/extension/
/admin/view/template/extension/shipping/*
!/admin/view/template/extension/shipping/
!/admin/view/template/extension/shipping/xd_flat.twig



/catalog/*
!/catalog/

/catalog/language/*
!/catalog/language/

/catalog/language/en-gb/*
!/catalog/language/en-gb/
/catalog/language/en-gb/extension/*
!/catalog/language/en-gb/extension/
/catalog/language/en-gb/extension/shipping/*
!/catalog/language/en-gb/extension/shipping/
!/catalog/language/en-gb/extension/shipping/xd_flat.php

/catalog/language/ru-ru/*
!/catalog/language/ru-ru/
/catalog/language/ru-ru/extension/*
!/catalog/language/ru-ru/extension/
/catalog/language/ru-ru/extension/shipping/*
!/catalog/language/ru-ru/extension/shipping/
!/catalog/language/ru-ru/extension/shipping/xd_flat.php

/catalog/model/*
!/catalog/model/
/catalog/model/extension/*
!/catalog/model/extension/
/catalog/model/extension/shipping/*
!/catalog/model/extension/shipping/
!/catalog/model/extension/shipping/xd_flat.php



/system/


/image/
/install/
/storage/